* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: bd;
  src:url('../fonts/barndoor.otf');
}

@font-face {
  font-family: nutty;
  src:url('../fonts/nuttyregular.otf');
}


body {
  position: absolute;
  background-image: url(../img/background.jpg);
}

.wrap {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

.nav {
  height: 150px;
}

.nav h1 {
  margin-left: 20px;
  margin-top: 20px;
  font-family: bd;
  font-size: 30px;
  float: left;
  letter-spacing: 3px;
}

.nav img {
  float: left;
  width: 75px;
}

.nav ul {
  float: right;
  /*overflow: auto;*/
}


.nav li {
  margin-top: 25px;
  padding-left: 10px;
  font-family: bd;
  font-size: 18px;
  letter-spacing: 3px;
  display: inline;
  float: right;
  list-style: none;
}

.product-shot {
  /*position: absolute;*/
  float: left;
  margin-left: 50px;
}

.product-shot img {
  height: 600px;
  margin-bottom: 20px;
}

.product-info h3 {
  font-family: bd;
  font-size: 22px;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.product-info p {
  font-family: nutty;
}

.product-info {
  float: right;
  width: 50%;
  margin-right: 50px;
}
label {
  font-family: bd;
  letter-spacing: 1px;
  margin-top: 10px;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  margin-left: 20px;
}

button {
  font-family: nutty;
  background: #a98c5d;
  border: 1px solid #a98c5d;
  border-radius: 6px;
  padding: 7px 15px;
  color: white;
  margin-left: 20px;
  font-size: 12px;
}

button:hover {
  background-color: #d6100d;
  border-color: #d6100d
}

.icons {
  float: right;
  margin-right: 10px;
  margin-top: auto;
  padding-right: 10px;
  margin-top: 10px;
}

.twitt {
  padding-right: 8px;
}

/*.clearfix:after {
  content: "";
  display: table;
  clear: both;
}*/
