* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: bd;
  src:url('../fonts/barndoor.otf');
}

@font-face {
  font-family: nutty;
  src:url('../fonts/nuttyregular.otf');
}

@font-face {
  font-family: blacksmith;
  src:url('../fonts/blacksmithregular.ttf');
}


body {
  position: relative;
  width: 100%;
  background-image: url(../img/background.jpg);
}

.wrap {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

.nav {
  height: 150px;
  margin-bottom: 50px;
}

.nav h1 {
  margin-left: 0px;
  margin-top: 35px;
  font-family: blacksmith;
  font-size: 35px;
  float: left;
  letter-spacing: 3px;
}

.nav h1:hover {
  color: #a98c5d;
}

.nav img {
  float: left;
  width: 90px;
  margin-right: 10px;
}

.nav ul {
  float: right;
  /*overflow: auto;*/
}


.nav li {
  margin-top: 45px;
  padding-left: 10px;
  font-family: bd;
  font-size: 18px;
  letter-spacing: 3px;
  display: inline;
  float: right;
  list-style: none;
}

.product-shot {
  float: left;
  margin-left: 50px;
}

.product-shot img {
  height: 600px;
  margin-bottom: 20px;
}


.product-info {
  position: relative;
}

.product-info h3 {
  font-family: bd;
  font-size: 26px;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.product-info h3:hover {
  color: #a98c5d;
}

.product-info p {
  font-family: nutty;
}

.product-info p::first-line {
  color: #a98c5d;
}

.product-info {
  float: right;
  width: 51%;
  margin-right: 50px;
}
label {
  font-family: bd;
  letter-spacing: 1px;
  margin-top: 10px;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  margin-left: 20px;
}

button {
  font-family: nutty;
  background: #d6100d;
  border: 1px solid #d6100d;
  border-radius: 6px;
  padding: 7px 15px;
  color: white;
  margin-left: 20px;
  font-size: 12px;
  margin-top: 20px;
}

button:hover {
  background-color: #a98c5d;
  border-color: #a98c5d;
}

.icons {
  float: right;
  margin-right: 10px;
  margin-top: auto;
  padding-right: 10px;
  margin-top: 20px;
}

.twitt {
  padding-right: 8px;
}

.gallery {
  width: 54%;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: bd;
  float: right;
  display: inline;
  margin-top: 30px;
}

.gallery h3 {
  margin-bottom: 20px;
}

.gallery img {
  width: 200px;
  padding-right: 5px;
}

/*.big-one {
  position: absolute;
}*/

.footer {
  position: relative;
  margin-top: 700px;
  justify-content: center;
  clear: both;
  text-align: center;
  margin-bottom: 30px;
}

.footer img {
  position: relative;
  margin: 0 auto;
  width: 160px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
